* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .demo-title {
    position: absolute;
    width: 100%;
    background: #2e2f33;
    z-index: 2;
    padding: .7em 0;
  }
  
  .demo-title a {
    color: #fff;
    border-bottom: 1px dotted #a64ceb;
    text-decoration: none;
  }
  
  .demo-title p {
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    font-size: 15px;
  }
  
  .demo-frame {
    
    width: 854px;
    height: 658px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -329px 0 0 -429px;
    padding: 95px 20px 45px 34px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .demo-container {
    width: 100%;
    height: 530px;
    position: relative;
    background: #eee;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .dg.ac {
    z-index: 100 !important;
    top: 50px !important;
  }