<head>
        <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script> 
        <script src="https://unpkg.com/aframe-click-drag-component"></script> 
        <script>
          import aframe from 'aframe';
            import registerClickDrag from 'aframe-click-drag-component';
            registerClickDrag(aframe);
        </script> 
      </head>
       
      <body>
        <a-scene>
          <a-sphere click-drag position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
          <a-camera look-controls-enabled="false"></a-camera>
        </a-scene>
      </body>